<div class="row">
  <div class="col-xs-12">
    <div *ngIf="archive$ | async as bundle; else notfound">
      <table>
        <thead>
          <tr>
            <th>{{ bundle.title | titlecase }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              by {{ bundle.name | titlecase }} on
              {{ bundle.date }}
            </td>
          </tr>
          <tr>
            <td>{{ bundle.comments }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngFor="let url of bundle.urls">
        <hr />
        <img [src]="url" class="small" />
      </div>
      <hr />
      <button type="button" [routerLink]="['/']" class="btn btn-danger">
        Back
      </button>
    </div>
    <ng-template #notfound>
      <h3>Not found</h3>
      <button type="button" [routerLink]="['/']" class="btn btn-danger">
        Back
      </button>
    </ng-template>
  </div>
</div>
